@font-face {
    font-family: NunitoSans Black;
    src: url(../font/nunitosans-black-40ca0429e1a40bcd6c26.woff2) format("woff2"),url(../font/nunitosans-black-40ca0429e1a40bcd6c26.woff2) format("woff");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: NunitoSans Bold;
    src: url(../font/nunitosans-bold-9c4cdbefdbac045118a3.woff2) format("woff2"),url(../font/nunitosans-bold-9c4cdbefdbac045118a3.woff2) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: NunitoSans SemiBold;
    src: url(../font/Montserrat-SemiBold-1d679c8257a6a9caa9bd.woff2) format("woff2"),url(../font/Montserrat-SemiBold-1d679c8257a6a9caa9bd.woff2) format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: NunitoSans Regular;
    src: url(../font/nunitosans-regular-159d1cc68606c496d527.woff2) format("woff2"),url(../font/nunitosans-regular-159d1cc68606c496d527.woff2) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Roboto Bold;
    src: url(../font/Montserrat-Bold-cfceaf4e74789fc9df24.woff2) format("woff2"),url(../font/Montserrat-Bold-cfceaf4e74789fc9df24.woff2) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Roboto Medium;
    src: url(../font/Montserrat-Medium-d6bbb7c3c86aa8edcd0a.woff2) format("woff2"),url(../font/Montserrat-Medium-d6bbb7c3c86aa8edcd0a.woff2) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Roboto;
    src: url(../font/Montserrat-Regular-8b56391ed36ea95337c6.woff2) format("woff2"),url(../font/Montserrat-Regular-8b56391ed36ea95337c6.woff2) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Roboto Light;
    src: url(../font/Montserrat-Regular-8b56391ed36ea95337c6.woff2) format("woff2"),url(../font/Montserrat-Regular-8b56391ed36ea95337c6.woff2) format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Montserrat Extrabold;
    src: url(../font/Montserrat-ExtraBold-724e2fc5b5c96758e350.woff2) format("woff2"),url(../font/Montserrat-ExtraBold-724e2fc5b5c96758e350.woff2) format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap
}

html {
    font-family: NunitoSans Regular,Roboto,sans-serif;
    color: var(--color-text-primary)
}

body {
    background: var(--color-background-surface);
    transition: background-color .4s ease-out;
    -webkit-tap-highlight-color: transparent
}

[type=button],[type=reset],[type=submit],button {
    -webkit-appearance: none
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: calc(2px * -1);
    outline-offset: calc(var(--offset-sm-3xs) * -1)
}

::-webkit-file-upload-button {
    -webkit-appearance: button
}

button {
    border: none
}

button:focus {
    outline: none
}

.offset-row-sm-3xs {
    margin-bottom: 2px
}

.offset-row-sm-2xs {
    margin-bottom: 4px
}

.offset-row-sm-xs {
    margin-bottom: 6px
}

.offset-row-sm-s {
    margin-bottom: 8px
}

.offset-row-sm-sm {
    margin-bottom: 10px
}

.offset-row-sm-m {
    margin-bottom: 12px
}

.offset-row-sm-ml {
    margin-bottom: 14px
}

.offset-row-sm-l {
    margin-bottom: 16px
}

.offset-row-sm-xl {
    margin-bottom: 18px
}

.offset-row-sm-xxl {
    margin-bottom: 20px
}

.offset-row-md-2xs {
    margin-bottom: 24px
}

.offset-row-md-xs {
    margin-bottom: 28px
}

.offset-row-md-s {
    margin-bottom: 32px
}

.offset-row-md-m {
    margin-bottom: 36px
}

.offset-row-md-l {
    margin-bottom: 40px
}

.offset-row-md-xl {
    margin-bottom: 44px
}

.offset-row-md-2xl {
    margin-bottom: 48px
}

.offset-row-lg-xs {
    margin-bottom: 52px
}

.offset-row-lg-s {
    margin-bottom: 56px
}

.offset-row-lg-m {
    margin-bottom: 60px
}

.offset-row-lg-l {
    margin-bottom: 64px
}

.offset-row-lg-xl {
    margin-bottom: 68px
}

.offset-row-lg-2xl {
    margin-bottom: 72px
}

.offset-row-lg-3xl {
    margin-bottom: 76px
}

.offset-top-sm-3xs {
    margin-top: 2px
}

.offset-top-sm-2xs {
    margin-top: 4px
}

.offset-top-sm-xs {
    margin-top: 6px
}

.offset-top-sm-s {
    margin-top: 8px
}

.offset-top-sm-sm {
    margin-top: 10px
}

.offset-top-sm-m {
    margin-top: 12px
}

.offset-top-sm-ml {
    margin-top: 14px
}

.offset-top-sm-l {
    margin-top: 16px
}

.offset-top-sm-xl {
    margin-top: 18px
}

.offset-top-sm-xxl {
    margin-top: 20px
}

.offset-top-md-2xs {
    margin-top: 24px
}

.offset-top-md-xs {
    margin-top: 28px
}

.offset-top-md-s {
    margin-top: 32px
}

.offset-top-md-m {
    margin-top: 36px
}

.offset-top-md-l {
    margin-top: 40px
}

.offset-top-md-xl {
    margin-top: 44px
}

.offset-top-md-2xl {
    margin-top: 48px
}

.offset-top-lg-xs {
    margin-top: 52px
}

.offset-top-lg-s {
    margin-top: 56px
}

.offset-top-lg-m {
    margin-top: 60px
}

.offset-top-lg-l {
    margin-top: 64px
}

.offset-top-lg-xl {
    margin-top: 68px
}

.offset-top-lg-2xl {
    margin-top: 72px
}

.offset-top-lg-3xl {
    margin-top: 76px
}

.y-offset-sm-3xs {
    padding-top: 2px;
    padding-bottom: 2px
}

.y-offset-sm-2xs {
    padding-top: 4px;
    padding-bottom: 4px
}

.y-offset-sm-xs {
    padding-top: 6px;
    padding-bottom: 6px
}

.y-offset-sm-s {
    padding-top: 8px;
    padding-bottom: 8px
}

.y-offset-sm-sm {
    padding-top: 10px;
    padding-bottom: 10px
}

.y-offset-sm-m {
    padding-top: 12px;
    padding-bottom: 12px
}

.y-offset-sm-ml {
    padding-top: 14px;
    padding-bottom: 14px
}

.y-offset-sm-l {
    padding-top: 16px;
    padding-bottom: 16px
}

.y-offset-sm-xl {
    padding-top: 18px;
    padding-bottom: 18px
}

.y-offset-sm-xxl {
    padding-top: 20px;
    padding-bottom: 20px
}

.y-offset-md-2xs {
    padding-top: 24px;
    padding-bottom: 24px
}

.y-offset-md-xs {
    padding-top: 28px;
    padding-bottom: 28px
}

.y-offset-md-s {
    padding-top: 32px;
    padding-bottom: 32px
}

.y-offset-md-m {
    padding-top: 36px;
    padding-bottom: 36px
}

.y-offset-md-l {
    padding-top: 40px;
    padding-bottom: 40px
}

.y-offset-md-xl {
    padding-top: 44px;
    padding-bottom: 44px
}

.y-offset-md-2xl {
    padding-top: 48px;
    padding-bottom: 48px
}

.y-offset-lg-xs {
    padding-top: 52px;
    padding-bottom: 52px
}

.y-offset-lg-s {
    padding-top: 56px;
    padding-bottom: 56px
}

.y-offset-lg-m {
    padding-top: 60px;
    padding-bottom: 60px
}

.y-offset-lg-l {
    padding-top: 64px;
    padding-bottom: 64px
}

.y-offset-lg-xl {
    padding-top: 68px;
    padding-bottom: 68px
}

.y-offset-lg-2xl {
    padding-top: 72px;
    padding-bottom: 72px
}

.y-offset-lg-3xl {
    padding-top: 76px;
    padding-bottom: 76px
}

.x-offset-sm-3xs {
    padding-right: 2px;
    padding-left: 2px
}

.x-offset-sm-2xs {
    padding-right: 4px;
    padding-left: 4px
}

.x-offset-sm-xs {
    padding-right: 6px;
    padding-left: 6px
}

.x-offset-sm-s {
    padding-right: 8px;
    padding-left: 8px
}

.x-offset-sm-sm {
    padding-right: 10px;
    padding-left: 10px
}

.x-offset-sm-m {
    padding-right: 12px;
    padding-left: 12px
}

.x-offset-sm-ml {
    padding-right: 14px;
    padding-left: 14px
}

.x-offset-sm-l {
    padding-right: 16px;
    padding-left: 16px
}

.x-offset-sm-xl {
    padding-right: 18px;
    padding-left: 18px
}

.x-offset-sm-xxl {
    padding-right: 20px;
    padding-left: 20px
}

.x-offset-md-2xs {
    padding-right: 24px;
    padding-left: 24px
}

.x-offset-md-xs {
    padding-right: 28px;
    padding-left: 28px
}

.x-offset-md-s {
    padding-right: 32px;
    padding-left: 32px
}

.x-offset-md-m {
    padding-right: 36px;
    padding-left: 36px
}

.x-offset-md-l {
    padding-right: 40px;
    padding-left: 40px
}

.x-offset-md-xl {
    padding-right: 44px;
    padding-left: 44px
}

.x-offset-md-2xl {
    padding-right: 48px;
    padding-left: 48px
}

.x-offset-lg-xs {
    padding-right: 52px;
    padding-left: 52px
}

.x-offset-lg-s {
    padding-right: 56px;
    padding-left: 56px
}

.x-offset-lg-m {
    padding-right: 60px;
    padding-left: 60px
}

.x-offset-lg-l {
    padding-right: 64px;
    padding-left: 64px
}

.x-offset-lg-xl {
    padding-right: 68px;
    padding-left: 68px
}

.x-offset-lg-2xl {
    padding-right: 72px;
    padding-left: 72px
}

.x-offset-lg-3xl {
    padding-right: 76px;
    padding-left: 76px
}

.offset-right-sm-3xs {
    padding-right: 2px
}

.offset-right-sm-2xs {
    padding-right: 4px
}

.offset-right-sm-xs {
    padding-right: 6px
}

.offset-right-sm-s {
    padding-right: 8px
}

.offset-right-sm-sm {
    padding-right: 10px
}

.offset-right-sm-m {
    padding-right: 12px
}

.offset-right-sm-ml {
    padding-right: 14px
}

.offset-right-sm-l {
    padding-right: 16px
}

.offset-right-sm-xl {
    padding-right: 18px
}

.offset-right-sm-xxl {
    padding-right: 20px
}

.offset-right-md-2xs {
    padding-right: 24px
}

.offset-right-md-xs {
    padding-right: 28px
}

.offset-right-md-s {
    padding-right: 32px
}

.offset-right-md-m {
    padding-right: 36px
}

.offset-right-md-l {
    padding-right: 40px
}

.offset-right-md-xl {
    padding-right: 44px
}

.offset-right-md-2xl {
    padding-right: 48px
}

.offset-right-lg-xs {
    padding-right: 52px
}

.offset-right-lg-s {
    padding-right: 56px
}

.offset-right-lg-m {
    padding-right: 60px
}

.offset-right-lg-l {
    padding-right: 64px
}

.offset-right-lg-xl {
    padding-right: 68px
}

.offset-right-lg-2xl {
    padding-right: 72px
}

.offset-right-lg-3xl {
    padding-right: 76px
}

.offset-left-sm-3xs {
    padding-left: 2px
}

.offset-left-sm-2xs {
    padding-left: 4px
}

.offset-left-sm-xs {
    padding-left: 6px
}

.offset-left-sm-s {
    padding-left: 8px
}

.offset-left-sm-sm {
    padding-left: 10px
}

.offset-left-sm-m {
    padding-left: 12px
}

.offset-left-sm-ml {
    padding-left: 14px
}

.offset-left-sm-l {
    padding-left: 16px
}

.offset-left-sm-xl {
    padding-left: 18px
}

.offset-left-sm-xxl {
    padding-left: 20px
}

.offset-left-md-2xs {
    padding-left: 24px
}

.offset-left-md-xs {
    padding-left: 28px
}

.offset-left-md-s {
    padding-left: 32px
}

.offset-left-md-m {
    padding-left: 36px
}

.offset-left-md-l {
    padding-left: 40px
}

.offset-left-md-xl {
    padding-left: 44px
}

.offset-left-md-2xl {
    padding-left: 48px
}

.offset-left-lg-xs {
    padding-left: 52px
}

.offset-left-lg-s {
    padding-left: 56px
}

.offset-left-lg-m {
    padding-left: 60px
}

.offset-left-lg-l {
    padding-left: 64px
}

.offset-left-lg-xl {
    padding-left: 68px
}

.offset-left-lg-2xl {
    padding-left: 72px
}

.offset-left-lg-3xl {
    padding-left: 76px
}

:root {
    --zindex-minus-1000: -1000
}

.title-h1 {
    font: 38px/48px NunitoSans Black,Roboto Bold,sans-serif
}

.title-h2 {
    font: 30px/38px NunitoSans Black,Roboto Bold,sans-serif
}

.title-h3 {
    font: 24px/30px NunitoSans Black,Roboto Bold,sans-serif
}

.title-h4 {
    font: 20px/28px NunitoSans Black,Roboto Bold,sans-serif
}

.title-h5 {
    font: 18px/26px NunitoSans Black,Roboto Bold,sans-serif
}

.title-h6 {
    font: 16px/24px NunitoSans Black,Roboto Bold,sans-serif
}

@media (min-width: 1024px) {
    .title-h1 {
        font:64px/80px NunitoSans Black,Roboto Bold,sans-serif
    }

    .title-h2 {
        font: 30px/38px NunitoSans Black,Roboto Bold,sans-serif
    }

    .title-h3 {
        font: 28px/35px NunitoSans Black,Roboto Bold,sans-serif
    }

    .title-h4 {
        font: 22px/30px NunitoSans Black,Roboto Bold,sans-serif
    }

    .title-h5 {
        font: 18px/26px NunitoSans Black,Roboto Bold,sans-serif
    }

    .title-h6 {
        font: 16px/24px NunitoSans Black,Roboto Bold,sans-serif
    }
}

@media (min-width: 1280px) {
    .title-h1 {
        font:72px/90px NunitoSans Black,Roboto Bold,sans-serif
    }

    .title-h2 {
        font: 38px/48px NunitoSans Black,Roboto Bold,sans-serif
    }

    .title-h3 {
        font: 30px/38px NunitoSans Black,Roboto Bold,sans-serif
    }

    .title-h4 {
        font: 24px/30px NunitoSans Black,Roboto Bold,sans-serif
    }

    .title-h5 {
        font: 20px/28px NunitoSans Black,Roboto Bold,sans-serif
    }

    .title-h6 {
        font: 18px/26px NunitoSans Black,Roboto Bold,sans-serif
    }
}

@media (min-width: 1920px) {
    .title-h1 {
        font:80px/100px NunitoSans Black,Roboto Bold,sans-serif
    }

    .title-h2 {
        font: 48px/60px NunitoSans Black,Roboto Bold,sans-serif
    }

    .title-h3 {
        font: 38px/48px NunitoSans Black,Roboto Bold,sans-serif
    }

    .title-h4 {
        font: 28px/35px NunitoSans Black,Roboto Bold,sans-serif
    }

    .title-h5 {
        font: 22px/30px NunitoSans Black,Roboto Bold,sans-serif
    }

    .title-h6 {
        font: 20px/28px NunitoSans Black,Roboto Bold,sans-serif
    }
}

.text-primary {
    color: var(--color-text-primary)
}

.text-advanced,.text-secondary {
    color: var(--color-text-secondary)
}

.text-inactive {
    color: var(--color-text-inactive)
}

.text-inverted {
    color: var(--color-text-inverted)
}

.text-button-dark {
    color: var(--color-text-button-primary)
}

.text-button-light {
    color: var(--color-text-button-secondary)
}

.text-accent {
    color: var(--color-text-accent)
}

.text-positive {
    color: var(--color-text-positive)
}

.text-negative {
    color: var(--color-text-negative)
}

.text-warning {
    color: var(--color-text-warning)
}

.text-link {
    color: var(--color-text-link)
}

.text-main-60 {
    color: #868893;
    color: RGB(var(--color-main-60))
}

.text-main-40 {
    color: #aeafb7;
    color: RGB(var(--color-main-40))
}

.text-main-8 {
    color: #f0f0f2;
    color: RGB(var(--color-main-8))
}

.text-yellow-dark {
    color: #937b10;
    color: RGB(var(--color-yellow-dark))
}

.icon-primary-active {
    color: var(--color-icon-primary-active)
}

.icon-primary-highlight {
    color: var(--color-icon-primary-highlight)
}

.icon-primary-inactive {
    color: var(--color-icon-primary-inactive)
}

.icon-secondary-active {
    color: var(--color-icon-secondary-active)
}

.icon-secondary-highlight {
    color: var(--color-icon-secondary-highlight)
}

.icon-secondary-inactive {
    color: var(--color-icon-secondary-inactive)
}

.icon-button-dark {
    color: var(--color-icon-button-dark)
}

.icon-button-light {
    color: var(--color-icon-button-light)
}

.icon-inverted {
    color: var(--color-icon-inverted)
}

.icon-accent {
    color: var(--color-icon-primary-accent)
}

.icon-positive {
    color: var(--color-icon-positive)
}

.icon-negative {
    color: var(--color-icon-negative)
}

.underline {
    text-decoration: underline
}

.underline:hover {
    text-decoration: none
}

.uppercase {
    text-transform: uppercase
}

.right {
    text-align: right
}

.center {
    text-align: center
}

.desktop {
    display: none
}

@media (min-width: 1024px) {
    .desktop {
        display:block
    }
}

.phone {
    display: block
}

@media (min-width: 1024px) {
    .phone {
        display:none
    }
}

.bg-base {
    background-color: var(--color-background-base)
}

.no-wrap {
    white-space: nowrap
}

.block {
    display: block
}

.pointer {
    cursor: pointer
}

.markdown {
    padding: 16px 0;
    padding: var(--offset-sm-l) 0
}

.markdown,.markdown p {
    font: 14px/20px NunitoSans Regular,sans-serif;
    font: var(--regular-m)
}

.markdown p {
    margin: 16px 0;
    margin: var(--offset-sm-l) 0
}

.markdown p strong {
    font: 14px/20px NunitoSans Bold,sans-serif;
    font: var(--bold-l)
}

.markdown p em {
    font-style: italic
}

.markdown a {
    font: 14px/20px NunitoSans Regular,sans-serif;
    font: var(--regular-m);
    color: var(--color-text-link);
    text-decoration: underline
}

.markdown a:hover {
    text-decoration: none
}

.markdown h1 {
    font: 40px/48px NunitoSans Black,sans-serif;
    font: var(--black-xl)
}

.markdown h1,.markdown h2 {
    margin: 16px 0;
    margin: var(--offset-sm-l) 0
}

.markdown h2 {
    font: 24px/32px NunitoSans Black,sans-serif;
    font: var(--black-m)
}

.markdown h3 {
    font: 20px/28px NunitoSans Bold,sans-serif;
    font: var(--bold-xxl)
}

.markdown h3,.markdown h4 {
    margin: 16px 0;
    margin: var(--offset-sm-l) 0
}

.markdown h4 {
    font: 24px/32px NunitoSans Black,sans-serif;
    font: var(--black-m)
}

.markdown h5 {
    font: 20px/28px NunitoSans Bold,sans-serif;
    font: var(--bold-xxl)
}

.markdown h5,.markdown h6 {
    margin: 16px 0;
    margin: var(--offset-sm-l) 0
}

.markdown h6 {
    font: 16px/24px NunitoSans Bold,sans-serif;
    font: var(--bold-xl)
}

.markdown .text-underline {
    text-decoration: underline
}

.markdown blockquote {
    margin: 0
}

.markdown blockquote p {
    margin: 16px 8px;
    margin: var(--offset-sm-l) var(--offset-sm-s)
}

.markdown .text-highligh {
    background-color: var(--color-background-highlight);
    padding-left: 4px;
    padding-left: var(--offset-sm-2xs)
}

.markdown table {
    border: var(--border-width-xs) solid var(--color-stroke-divider);
    border-radius: 4px;
    border-radius: var(--border-radius-xs);
    margin: 16px 0;
    margin: var(--offset-sm-l) 0
}

.markdown table td,.markdown table th {
    border: var(--border-width-xs) solid var(--color-stroke-divider);
    height: 32px;
    height: var(--height-md-s);
    vertical-align: middle;
    padding-left: 4px;
    padding-left: var(--offset-sm-2xs)
}

.markdown table th {
    font: 14px/20px NunitoSans Bold,sans-serif;
    font: var(--bold-l)
}

.markdown table td {
    font: 14px/20px NunitoSans Regular,sans-serif;
    font: var(--regular-m)
}

.markdown ul {
    list-style-type: disc
}

.markdown ol {
    list-style-type: decimal
}

.markdown ol,.markdown ul {
    margin: 16px 24px;
    margin: var(--offset-sm-l) var(--offset-md-2xs)
}

.markdown ol li,.markdown ul li {
    list-style-type: inherit;
    padding-bottom: 8px;
    padding-bottom: var(--offset-sm-s)
}

.markdown ol p,.markdown ul p {
    margin: 0
}

.markdown img {
    display: block;
    width: 100%;
    height: auto
}

html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    font-family: NunitoSans Regular,sans-serif
}

*,:after,:before {
    box-sizing: inherit
}

body {
    margin: 0;
    -webkit-text-rendering: geometricPrecision;
    -moz-text-rendering: geometricPrecision;
    -o-text-rendering: geometricPrecision;
    -ms-text-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-font-smoothing: subpixel-antialiased;
    -o-font-smoothing: subpixel-antialiased;
    -ms-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

button,select {
    text-transform: none
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    border-style: none;
    padding: 0;
    -webkit-appearance: none
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
    outline: 1px dotted ButtonText;
    -webkit-appearance: none
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    font: inherit
}

ol,ul {
    list-style: none;
    padding-left: 0;
    margin: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}

caption,td,th {
    text-align: left
}

a {
    text-decoration: none;
    color: inherit
}

button,input:focus,select:focus,textarea:focus {
    outline: none
}

button {
    padding: 0;
    border: 0;
    border-radius: 0;
    font-family: inherit;
    font-style: inherit;
    font-feature-settings: inherit;
    font-variant: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    -webkit-appearance: none;
    text-decoration: none
}

button[disabled] {
    cursor: default
}

p {
    margin: 0
}

ui-reset {
    display: none
}

input:-webkit-autofill,input:-webkit-autofill:active,input:-webkit-autofill:focus,input:-webkit-autofill:hover {
    -webkit-transition: background-color 999999s ease-in-out 0s;
    transition: background-color 999999s ease-in-out 0s;
    -webkit-text-fill-color: var(--color-text-primary)!important
}

:active,:focus,:hover {
    outline: 0;
    outline-offset: 0
}

:root {
    --border-radius-main: 4px;
    --color-black: 30,31,34;
    --color-main-100: 42,43,48;
    --color-main-90: 62,63,69;
    --color-main-80: 84,86,95;
    --color-main-70: 106,108,119;
    --color-main-60: 134,136,147;
    --color-main-50: 155,156,166;
    --color-main-40: 174,175,183;
    --color-main-25: 204,204,209;
    --color-main-15: 224,224,227;
    --color-main-10: 240,240,242;
    --color-main-5: 246,247,247;
    --color-white: 255,255,255;
    --color-red-soft: 252,206,209;
    --color-red-light: 250,158,163;
    --color-red: 255,100,108;
    --color-red-bright: 255,0,0;
    --color-red-faint: 204,51,59;
    --color-red-dark: 124,3,9;
    --color-orange: 255,143,0;
    --color-orange-dark: 153,86,0;
    --color-orange-faint: 209,148,71;
    --color-orange-bright: 255,119,0;
    --color-orange-light: 255,188,102;
    --color-orange-soft: 255,233,204;
    --color-yellow: 255,221,60;
    --color-yellow-dark: 147,123,16;
    --color-yellow-faint: 250,200,26;
    --color-yellow-bright: 255,245,51;
    --color-yellow-light: 255,239,163;
    --color-yellow-soft: 255,248,214;
    --color-green: 20,198,121;
    --color-green-dark: 11,107,65;
    --color-green-faint: 64,156,116;
    --color-green-bright: 1,255,0;
    --color-green-light: 102,219,168;
    --color-green-soft: 185,238,215;
    --color-cyan: 72,230,230;
    --color-cyan-dark: 25,138,148;
    --color-cyan-faint: 79,173,181;
    --color-cyan-bright: 0,255,255;
    --color-cyan-light: 161,242,242;
    --color-cyan-soft: 210,249,249;
    --color-blue: 12,121,248;
    --color-blue-dark: 4,73,154;
    --color-blue-faint: 93,139,192;
    --color-blue-bright: 0,0,255;
    --color-blue-light: 111,176,251;
    --color-blue-soft: 210,230,254;
    --color-violet: 128,52,194;
    --color-violet-dark: 74,30,113;
    --color-violet-faint: 119,88,147;
    --color-violet-bright: 136,0,255;
    --color-violet-light: 177,126,220;
    --color-violet-soft: 226,207,242;
    --color-pink: 247,110,242;
    --color-pink-dark: 115,38,112;
    --color-pink-faint: 153,51,149;
    --color-pink-bright: 255,0,245;
    --color-pink-light: 255,173,252;
    --color-pink-soft: 249,231,248;
    --color-main-8: 240,240,242;
    --color-main-4: 246,247,247;
    --height-xs-xl: 1px;
    --height-sm-3xs: 2px;
    --height-sm-2xs: 4px;
    --height-sm-xs: 6px;
    --height-sm-s: 8px;
    --height-sm-sm: 10px;
    --height-sm-m: 12px;
    --height-sm-ml: 14px;
    --height-sm-l: 16px;
    --height-sm-xl: 18px;
    --height-sm-2xl: 20px;
    --height-md-2xs: 24px;
    --height-md-xs: 28px;
    --height-md-s: 32px;
    --height-md-m: 36px;
    --height-md-l: 40px;
    --height-md-xl: 44px;
    --height-md-2xl: 48px;
    --height-lg-xs: 52px;
    --height-lg-s: 56px;
    --height-lg-m: 60px;
    --height-lg-l: 64px;
    --height-lg-xl: 68px;
    --height-lg-2xl: 72px;
    --height-lg-3xl: 76px;
    --height-xl-2xs: 80px;
    --height-xl-xs: 84px;
    --height-xl-s: 88px;
    --height-xl-m: 92px;
    --height-xl-l: 96px;
    --height-xl-xl: 100px;
    --height-xl-2xl: 104px;
    --height-xl-3xl: 200px;
    --offset-sm-xxxs: 2px;
    --offset-sm-xxs: 4px;
    --offset-sm-xxxl: 24px;
    --offset-md-xxl: 48px;
    --offset-lg-xxl: 72px;
    --offset-lg-xxxl: 76px;
    --offset-sm-3xs: 2px;
    --offset-sm-2xs: 4px;
    --offset-sm-xs: 6px;
    --offset-sm-s: 8px;
    --offset-sm-sm: 10px;
    --offset-sm-m: 12px;
    --offset-sm-ml: 14px;
    --offset-sm-l: 16px;
    --offset-sm-xl: 18px;
    --offset-sm-xxl: 20px;
    --offset-md-2xs: 24px;
    --offset-md-xs: 28px;
    --offset-md-s: 32px;
    --offset-md-m: 36px;
    --offset-md-l: 40px;
    --offset-md-xl: 44px;
    --offset-md-2xl: 48px;
    --offset-lg-xs: 52px;
    --offset-lg-s: 56px;
    --offset-lg-m: 60px;
    --offset-lg-l: 64px;
    --offset-lg-xl: 68px;
    --offset-lg-2xl: 72px;
    --offset-lg-3xl: 76px;
    --cubic-ease-out: cubic-bezier(0.215,0.61,0.355,1);
    --cubic-ease-in: cubic-bezier(0.55,0.055,0.675,0.19);
    --cubic-ease-in-out: cubic-bezier(0.645,0.045,0.355,1);
    --transition-slowest: 1s;
    --transition-slower: 0.7s;
    --transition-slow: 0.5s;
    --transition-standart: 0.35s;
    --transition-medium: 0.3s;
    --transition-fast: 0.25s;
    --transition-faster: 0.2s;
    --transition-fastest: 0.15s;
    --width-sm-4xs: 1px;
    --width-sm-3xs: 2px;
    --width-sm-2xs: 4px;
    --width-sm-xs: 6px;
    --width-sm-s: 8px;
    --width-sm-sm: 10px;
    --width-sm-m: 12px;
    --width-sm-ml: 14px;
    --width-sm-l: 16px;
    --width-sm-xl: 18px;
    --width-sm-2xl: 20px;
    --width-md-2xs: 24px;
    --width-md-xs: 28px;
    --width-md-s: 32px;
    --width-md-m: 36px;
    --width-md-l: 40px;
    --width-md-xl: 44px;
    --width-md-2xl: 48px;
    --width-lg-xs: 52px;
    --width-lg-s: 56px;
    --width-lg-m: 60px;
    --width-lg-l: 64px;
    --width-lg-xl: 68px;
    --width-lg-2xl: 72px;
    --width-lg-3xl: 76px;
    --width-xl-2xs: 80px;
    --width-xl-xs: 84px;
    --width-xl-s: 88px;
    --width-xl-m: 92px;
    --width-xl-l: 96px;
    --width-xl-xl: 100px;
    --width-xl-2xl: 104px;
    --width-xl-3xl: 200px;
    --width-mobile-xs: 288px;
    --width-mobile-s: 512px;
    --width-tablet-s: 688px;
    --width-tablet-m: 944px;
    --width-laptop-l: 1104px;
    --width-desktop-xl: 1264px;
    --width-full: 100%;
    --zindex-bottom: -1000;
    --zindex-minus-50: -50;
    --zindex-0: 0;
    --zindex-1: 1;
    --zindex-2: 2;
    --zindex-3: 3;
    --zindex-4: 4;
    --zindex-5: 5;
    --zindex-6: 6;
    --zindex-7: 7;
    --zindex-8: 8;
    --zindex-9: 9;
    --zindex-10: 10;
    --zindex-50: 50;
    --zindex-100: 100;
    --zindex-150: 150;
    --zindex-200: 200;
    --zindex-250: 250;
    --zindex-300: 300;
    --zindex-350: 350;
    --zindex-400: 400;
    --zindex-450: 450;
    --zindex-500: 500;
    --zindex-1000: 1000;
    --zindex-1050: 1050;
    --zindex-top: 9999;
    --opacity-0: 0;
    --opacity-01: 0.01;
    --opacity-1: 0.1;
    --opacity-2: 0.2;
    --opacity-3: 0.3;
    --opacity-4: 0.4;
    --opacity-5: 0.5;
    --opacity-6: 0.6;
    --opacity-7: 0.7;
    --opacity-8: 0.8;
    --opacity-9: 0.8;
    --opacity-10: 1;
    --bg-blur-25: blur(2.5px);
    --bg-blur-50: blur(5px);
    --bg-blur-100: blur(10px);
    --border-width-xs: 1px;
    --border-width-s: 2px;
    --border-width-m: 3px;
    --border-width-l: 4px;
    --border-radius-xxs: 2px;
    --border-radius-xs: 4px;
    --border-radius-s: 6px;
    --border-radius-m: 8px;
    --border-radius-ml: 10px;
    --border-radius-l: 12px;
    --border-radius-xl: 14px;
    --border-radius-2xl: 16px;
    --border-radius-3xl: 18px;
    --border-radius-4xl: 20px;
    --border-radius-round: 50%;
    --black-xxl: 80px/88px "NunitoSans Black",sans-serif;
    --black-xl: 40px/48px "NunitoSans Black",sans-serif;
    --black-l: 32px/40px "NunitoSans Black",sans-serif;
    --black-m: 24px/32px "NunitoSans Black",sans-serif;
    --black-s: 20px/28px "NunitoSans Black",sans-serif;
    --black-xs: 16px/24px "NunitoSans Black",sans-serif;
    --black-xs-compact: 16px/20px "NunitoSans Black",sans-serif;
    --bold-xxl: 20px/28px "NunitoSans Bold",sans-serif;
    --bold-xxl-compact: 20px/24px "NunitoSans Bold",sans-serif;
    --bold-xl: 16px/24px "NunitoSans Bold",sans-serif;
    --bold-xl-compact: 16px/20px "NunitoSans Bold",sans-serif;
    --bold-l: 14px/20px "NunitoSans Bold",sans-serif;
    --bold-m: 12px/16px "NunitoSans Bold",sans-serif;
    --bold-s: 10px/12px "NunitoSans Bold",sans-serif;
    --regular-xl: 20px/28px "NunitoSans Regular",sans-serif;
    --regular-l: 16px/24px "NunitoSans Regular",sans-serif;
    --regular-m: 14px/20px "NunitoSans Regular",sans-serif;
    --regular-s: 12px/16px "NunitoSans Regular",sans-serif;
    --regular-xs: 10px/12px "NunitoSans Regular",sans-serif
}

.font-black-xxl {
    font: 80px/88px NunitoSans Black,sans-serif;
    font: var(--black-xxl)
}

.font-black-xl {
    font: 40px/48px NunitoSans Black,sans-serif;
    font: var(--black-xl)
}

.font-black-l {
    font: 32px/40px NunitoSans Black,sans-serif;
    font: var(--black-l)
}

.font-black-m {
    font: 24px/32px NunitoSans Black,sans-serif;
    font: var(--black-m)
}

.font-black-s {
    font: 20px/28px NunitoSans Black,sans-serif;
    font: var(--black-s)
}

.font-black-xs {
    font: 16px/24px NunitoSans Black,sans-serif;
    font: var(--black-xs)
}

.font-black-xs-compact {
    font: 16px/20px NunitoSans Black,sans-serif;
    font: var(--black-xs-compact)
}

.font-bold-xxl {
    font: 20px/28px NunitoSans Bold,sans-serif;
    font: var(--bold-xxl)
}

.font-bold-xl {
    font: 16px/24px NunitoSans Bold,sans-serif;
    font: var(--bold-xl)
}

.font-bold-xl-compact {
    font: 16px/20px NunitoSans Bold,sans-serif;
    font: var(--bold-xl-compact)
}

.font-bold-l {
    font: 14px/20px NunitoSans Bold,sans-serif;
    font: var(--bold-l)
}

.font-bold-m {
    font: 12px/16px NunitoSans Bold,sans-serif;
    font: var(--bold-m)
}

.font-bold-s {
    font: 10px/12px NunitoSans Bold,sans-serif;
    font: var(--bold-s)
}

.font-regular-xl {
    font: 20px/28px NunitoSans Regular,sans-serif;
    font: var(--regular-xl)
}

.font-regular-l {
    font: 16px/24px NunitoSans Regular,sans-serif;
    font: var(--regular-l)
}

.font-regular-m {
    font: 14px/20px NunitoSans Regular,sans-serif;
    font: var(--regular-m)
}

.font-regular-s {
    font: 12px/16px NunitoSans Regular,sans-serif;
    font: var(--regular-s)
}

.font-regular-xs {
    font: 10px/12px NunitoSans Regular,sans-serif;
    font: var(--regular-xs)
}

[align-self-start] {
    align-self: flex-start!important
}

[align-self-end] {
    align-self: flex-end!important
}

[align-self-center] {
    align-self: center!important
}

[align-self-stretch] {
    align-self: stretch!important
}

[align-self-baseline] {
    align-self: baseline!important
}

[align-self-auto] {
    align-self: auto!important
}

[wrap] {
    flex-wrap: wrap!important
}

[nowrap] {
    flex-wrap: nowrap!important
}

[wrap-reverse] {
    flex-wrap: wrap-reverse!important
}

[justify-content-start] {
    justify-content: flex-start!important
}

[justify-content-center] {
    justify-content: center!important
}

[justify-content-end] {
    justify-content: flex-end!important
}

[justify-content-around] {
    justify-content: space-around!important
}

[justify-content-between] {
    justify-content: space-between!important
}

[justify-content-evenly] {
    justify-content: space-evenly!important
}

[align-items-start] {
    align-items: flex-start!important
}

[align-items-center] {
    align-items: center!important
}

[align-items-end] {
    align-items: flex-end!important
}

[align-items-stretch] {
    align-items: stretch!important
}

[align-items-baseline] {
    align-items: baseline!important
}

vui-icon {
    display: inline-flex;
    justify-content: center
}
